default:
    extensions:
        FriendsOfBehat\CrossContainerExtension: ~
        FriendsOfBehat\SymfonyExtension: ~
        FriendsOfBehat\ContextServiceExtension:
            imports:
               - "features/bootstrap/config/context.yml"
        Behat\MinkExtension:
            base_url: 'http://127.0.0.1:8000'
            sessions:
                default:
                    goutte: ~
    suites:
        employee:
            contexts_services:
                - al.context.employee
                - al.context.database
